*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 322px;
    height: 100%;
    background:url('Bg.png') no-repeat;
    border:1px solid black;
   
   
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
  }
.text{

margin-top: -50px;
text-transform: uppercase;
font-weight: bold;

}
.text1{
    margin-top: 20pz;

    margin-left: 10px;
  }
.img{
padding-bottom: 20px;
margin-top: -700px;
margin-left: 70px;
}

.foot{
    margin-top: 100px;
    margin-left: 15px;
    text-transform: capitalize;
    margin-bottom: 50px;
   
}
.icon{
    height: 25px;
    margin-left: 10px;
    margin-top: -50px;
    margin-bottom: 22px;
  }
  .pa{
margin-top: -50px;
margin-left: 50px;
font-family: 'Baloo Tammudu 2', cursive;

  }
  .p{
      margin-top: 50px;
      margin-left: 20px;
      font-family: 'Baloo Tammudu 2', cursive;
  }

 
